<!-- Header -->
<%- include('partials/header'); %>
    <!-- End Header -->
    <!-- Navigation -->
    <!-- End Navigation -->
    <%- include('partials/nav'); %>
        <!-- Main Content -->
        <div>
            <h2>
                Edit: <%=bot.botName%>
            </h2>

            <form action="/bots/<%=index%>/update?_method=PUT">
                <section>
                    <h3>Career Stats</h3>
                <% for(const prop in bot.careerData) {
                    
                    if(typeof bot.careerData[prop] !== "object" && typeof bot.careerData[prop] !== "boolean" && typeof bot.careerData[prop] !== "function" && prop !== "$basePath") {
                        %> <!-- typeOf <%= prop %> is <%= typeof bot.careerData[prop]%> and value is <%= bot.careerData[prop] %> -->
                            <div class="editField"><label for="<%=prop%>"><%=prop%></label><input id="<%=prop%>" name="<%=prop%>" value="<%=bot.careerData[prop] || ''%>" /></div>
                        <%
                    }
                }
                %>
            </section>
                <input type="submit" value="Update Career Stats">
            </form>
            <% for(const season of bot.seasonalData) {
                %> 
                <section>
                    <form action="/bots/<%=index%>/update?_method=PUT" method="post">
                        <input type="hidden" name="season" value="<%=Object.keys(season)%>">
                    
                    <h4>Season: <%=Object.keys(season)%></h4>
                <%
                for (const prop in season[Object.keys(season)]) {   
                    if(typeof season[prop] !== "object" && typeof season[prop] !== "boolean" && typeof season[prop] !== "function" && prop !== "$basePath" && prop !== "id" && prop !== "__index") {
                        %> <!-- typeOf <%= prop %> is <%= typeof season[prop]%> and value is <%= season[prop] %> -->
                            <div class="editField"><label for="<%=prop%>"><%=prop%></label><input id="<%=prop%>" name="<%=prop%>" value="<%=season[Object.keys(season)][prop] || ''%>" /></div>
                        <%
                    }
                }
                %>
                <input type="submit" value="Update Season <%=<%=Object.keys(season)%>%>">
                </form>
                </section>
                <%
            }
            %>
        </div>
        <!-- End Main Content -->

        <!-- Footer -->
        <%- include('partials/footer'); %>
            <!-- End Footer -->